@{
    ViewBag.Title = "Home Page";

    if (ViewBag.IsSent != null)
    {
        if (ViewBag.IsSent == true)
        {
            <script type="text/javascript">
                alert("Messaggio inviato con successo!");
            </script>
        }
        else
        {
            <script type="text/javascript">
                alert("Invio non riuscito!");
            </script>
        }
    }
}

<div data-spy="scroll" data-offset="0" data-target="#theMenu">

    <!-- ========== ABOUT SECTION ========== -->
    <section id="about" name="about"></section>
    <div id="f">
        <div class="container">
            <div class="row">
                <h3 style="font-family: 'Rock Salt', cursive;">SU DI ME</h3>
                <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>


                <!-- =================== SU DI ME - Layout ad 1 colonna ========================= -->
                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        Ciao, e benvenuto! </br>
                        Mi presento, mi chiamo Manuel, ho 23 anni e da sempre nutro una grande passione per la tecnologia
                        e l'informatica, tanto da decidere di trasformare questa passione nel mio lavoro.
                    </p>
                    <p>
                        Mi ritengo una persona propositiva, una di quelle persone che non si tirano indietro di fronte a nuove sfide, anzi, l'idea
                        di imparare nuove tecnologie, o anche più semplicemente di approfondire argomenti già conosciuti è per me una forte motivazione.
                    </p>
                    <p>
                        La determinazione che metto nel coltivare le mie ambizioni, è senza dubbio una delle mie doti più importani, mentre dovendo
                        ammettere un mio difetto, ahimè, so essere un gran pignolo!!
                    </p>
                    <p>
                        Le cose che più odio al mondo sono la noia e l'inattività;
                        mentre ciò che più mi rende felice è frequentare le persone che per me sono importanti, o magari passare del tempo con i miei cani,
                        o anche pescare, altra mia grande passione fin da bambino.
                    </p>
                    <p>
                        Il principale obbiettivo che mi sono preposto, è garantire sempre il massimo della disponobilità, della
                        professionalità e dell'efficienza per poter soddisfare qualsiasi esigenza dei miei clienti.
                    </p>

                    <p><a style="cursor: pointer;" id="link-home" data-toggle="modal" data-target="#form_mail"><img src="~/img/send.png" alt="contatta" data-toggle="tooltip" title="Scrivi" data-placement="bottom" /></a></p>
                </div>
                <!-- ============== /SU DI ME - Fine layout a una colonna =======================-->

            </div>
        </div><!-- /container -->
    </div><!-- /f -->
    <!-- ========== CAROUSEL SECTION ========== -->
    <section id="portfolio" name="portfolio"></section>
    <div id="f">
        <div class="container">
            <div class="row centered">
                <h3 style="font-family: 'Rock Salt', cursive;">SERVIZI</h3>
                <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

                <div class="col-lg-6 col-lg-offset-3">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <!--==================== Box servizi - Mobile First ======================-->
                            <div class="item active centered">

                                <h4 class="titolo_servizi">Mobile First</h4>
                                <img class="img-responsive" style="padding-left: 20%;padding-right: 25%;" src="~/img/mobile-first.png" alt="mobile-first">
                                <p>
                                    I siti web sviluppati seguendo questa "filosofia", garantiscono una perfetta visualizzazione delle pagine e dei contenuti,
                                    indipendentemente dal dispositivo su cui vengono visualizzati, cosa che, seguendo il metodo di sviluppo "tradizionale",
                                    non avviene.
                                </p>
                                <p>
                                    Mentre tutto questo, fino a 6-7 anni fà, era vero si, ma trascurabile, ad oggi, visti gli enormi passi avanti
                                    fatti dalle tecnologie mobile e la mole di utenti che giornalmente utilizzano tali dispositivi per accedere ad internet,
                                    risulta una vera e propria necessità, soprattutto se si vuole massimizzare l'efficacia del proprio sito web.
                                </p>
                                <p>
                                    Senza contare il fatto che, Google, ma più in generale tutti i motori di ricerca, penalizzano
                                    tutti quei siti che non sono ottimizzati per la visualizzazione da mobile, ed è per questi motivi, che tutti i siti web da
                                    me sviluppati, seguono tale filosofia di sviluppo, ovvero <br />
                                    Mobile First!
                                </p>
                            </div>


                            <!--==================== Box servizi - WordPress ======================-->
                            <div class="item centered">
                                <h4 class="titolo_servizi">WordPress</h4>

                                <img class="img-responsive" style="padding-left: 30%;padding-right: 25%;" src="~/img/wp-logo.png" alt="wordpress">
                                <p>
                                    WordPress è uno dei CMS più conosciuti e utilizzati al mondo! ma cos'è un CMS?</br>
                                    CMS sta per "Content Management System", ovvero sistema di gestione dei contenuti, infatti, uno dei principali punti di forza di questa
                                    tecnologia sta proprio nell'estrema semplicità con cui, un sito, sviluppato tramite tale piattaforma software, permette di amministrare
                                    e gestire i vari contenuti per mezzo di un'interfaccia grafica semplice ed intuitiva, senza scrivere una sola riga di codice.
                                    Questo, ovviamente, solo dopo averne definito la struttura.
                                </p>
                                <p>
                                    WordPress inoltre, è già ben predisposto per la visualizzazione da mobile, cosa fondamentale se si vuol mantenere un posizionamento
                                    sempre più alto nei motori di ricerca, offre infinite possibilità di personalizzazione grazie a migliaglia di temi grafici,
                                    gratuiti e non, che è possibile personalizzare ulteriormente cosi da rendere unico il tuo sito.
                                </p>
                                <p>
                                    Con WordPress, si ha anche a disposizione, un'infinità di plugin, molti dei quali gratuiti, che permettono di inserire
                                    nel sito funzioni anche molto complesse, semplificando al minimo tali implementazioni. Queste sono solo alcune delle
                                    funzionalità di tale CMS, che, data l'immensità di questa tecnologia, non basterebbe un libro per presentarle tutte.
                                    Qualunque sia la tua attività, molto probabilmente con WordPress troverai ciò che fa al caso tuo!
                                </p>
                            </div>


                            <!--==================== Box servizi - Joomla! ======================-->
                            <div class="item centered">
                                <h4 class="titolo_servizi">Joomla!</h4>

                                <img class="img-responsive" style="padding-left: 32%;padding-right: 25%;" src="~/img/joomla.png" alt="joomla">
                                <p>
                                    Joomla! è una piattaforma software di Content Management System (CMS) per la realizzazione di siti web. <br />
                                    Come tutti i CMS, l'obbiettivo principale di Joomla! è quello di semplificare l'inserimento, la modifica
                                    e più in generale, la gestione dei contenuti del sito web su cui è installata tale piattaforma, rendendo
                                    il "web publishing" alla portata di tutti!
                                </p>
                                <p>
                                    Perche utilizzare un CMS per il proprio sito web? <br />
                                    In realtà, ci sono diversi motivi per cui si potrebbe pensare di utilizzare tale tecnologia per il proprio sito,
                                    ad esempio, l'utilizzo di un CMS migliora l'indicizzazione sui motori di ricerca, garantendo una maggiore visibilità
                                    del sito stesso e permettendo così di arrivare ad un maggior numero di potenziali clienti ( o visitatori).
                                </p>
                                <p>
                                    Inoltre Joomla!, come la maggior parte dei CMS, è ben predisposto per la visualizzazione da mobile,
                                    cosa molto importante per un sito web, e grazie ad un'infinità di template, tool e widget permette un'altissimo livello
                                    di personalizzazione, cosi da creare un sito web originale, visivamente gradevole e fatto su misura per le tue esigenze!
                                </p>
                                <p>
                                    In questa breve panoramica, sono menzionate solo alcune delle infinite possibilità offerte da tale CMS, anche perchè,
                                    vista la vastità dell'argomento, sarebbe davvero impossibile presentarle tutte qui! <br />
                                    Nel caso in cui si volesse dare maggiore visibilità alla propria attività tramite internet, pur non avendo competenze
                                    in ambito di sviluppo web, l'utilizzo di un CMS come Joomla!, (secondo solo a WordPress) può davvero risultare una
                                    carta vincente!
                                </p>
                            </div>


                            <!--==================== Box servizi - Restyling ======================-->
                            <div class="item centered">
                                <h4 class="titolo_servizi">Restyling</h4>

                                <img class="img-responsive" style="padding-left: 25%;padding-right: 25%;" src="~/img/restyling-web.png" alt="restyling">
                                <p>
                                    Perchè effettuare un restyling del proprio sito web? <br />
                                    L'obbiettivo principale di un sito web è quello di presentare prodotti e / o servizi offerti dalla tua attività,
                                    che, per forza di cose, tende ad evolversi nel tempo per seguire quelle che sono le nuove tendenze
                                    e richieste da parte della clientela.
                                </p>
                                <p>
                                    E' pertanto buona norma riallineare periodicamente il tuo sito web a quei cambiamenti a cui la tua attività è
                                    sottoposta nel corso del tempo e non solo! Infatti, siti web non aggiornati, sviluppati con tecnologie obsolete,
                                    non predisposti per il mobile o semplicemente poco performanti, vengono penalizzati dai motori di ricerca,
                                    perdendo posizioni e di conseguenza visibilità da parte della tua clientela!
                                </p>
                                <p>
                                    Al contrario invece, effettuare un restyling del proprio sito, anche solo per rinnovarne l'aspetto per renderlo più
                                    fresco e accattivante, farà sì che i motori di ricerca valorizzino il tuo sito, poichè tutti quei siti in
                                    costante aggiornamento ottengono un piazzamento più alto rispetto a quei siti che, al contrario, vengono modificati o aggiornati
                                    di rado, o peggio, mai!
                                </p>
                                <p>
                                    Se stai pensando di rinnovare il tuo sito web, le soluzioni da me proposte sono completamente responsive,
                                    dalla grafica ammaliante e performanti! Inoltre, sono sviluppate su misura per le tue esigenze e in tempi moderati.
                                </p>
                            </div>


                            <!--==================== Box servizi - Assistenza ======================-->
                            <div class="item centered">
                                <h4 class="titolo_servizi">Assistenza</h4>
                                <img class="img-responsive" style="padding-left: 32%;padding-right: 25%;" src="~/img/help.png" alt="assistenza">
                                <p>
                                    E se avessi problemi inerenti al sito dopo averlo publicato? <br />
                                    Ovviamente offro al cliente un servizio di assistenza tecnica, per i problemi più comuni in cui ci si
                                    può imbattere ogni giorno, lavorando con internet e più in generale con il PC!
                                </p>
                                <p>
                                    So bene quanto realmente faccia la differenza avere un punto di riferimento quando ce n'è più bisogno, pertanto mi
                                    impegno a fornire un servizio di assistenza efficente e veloce, offrendo la massima disponibilità a prezzi ragionevoli!
                                </p>
                            </div>


                            <!--==================== Box servizi - SEO ======================-->
                            <div class="item centered">
                                <h4 class="titolo_servizi">SEO <br /> (Search Engine Optimization)</h4>

                                <img class="img-responsive" style="padding-left: 23%;padding-right: 25%;" src="~/img/seo1.png" alt="seo">
                                <p>
                                    L'obbiettivo primario di un sito web è quello di dare visibilità alla tua attività, ai tuoi prodotti o ai tuoi
                                    servizi! <br />
                                    Dati alla mano*, in media, oltre l'80% dei click avviene sui risultati presenti nella prima pagina; la seconda e la
                                    terza assieme ottengono meno del 10% dei click. Da notare che, i primi 5 risultati prendono il 76.54% di tutti i click,
                                    dalla 6° alla 10° posizione solo circa il 5% , poco meno di tutti i click nella seconda pagina.
                                </p>
                                <p>
                                    Alla luce di quanto detto sopra, risulta ovvio che, per dare maggiore visibilità e quindi avere maggiori possibilità
                                    di farsi conoscere dalla propria clientela, posizionarsi in prima pagina, e ovviamente, più in alto possibile
                                    è d'obbligo. Per questi motivi, tutti i siti da me sviluppati, seguono alcune specifiche direttive utili allo scopo,
                                    ma non solo, offro anche la possibilità di ottimizzare siti già in essere per un piazzamento migliore sui motori di
                                    ricerca.
                                </p>
                                <p style="font-size:12px;">
                                    *Dati aggiornati ad Agosto 2016 da parte di Advanced Web Ranking, <a href="https://www.advancedwebranking.com/cloud/ctrstudy/" target="_blank">QUI</a> in versione integrale.
                                </p>
                            </div>

                        </div>
                        <br>
                        <br>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        </ol>
                    </div>
                </div><!-- col-lg-6 -->
            </div><!-- row -->
        </div><!-- container -->
    </div>	<!-- f -->
    <!-- ========== CONTACT SECTION ========== -->
    <section id="contact" name="contact"></section>
    <div id="f">
        <div class="container">
            <div class="row">
                <h3 style="font-family: 'Rock Salt', cursive;">CONTATTI</h3>
                <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

                <div class="col-lg-6 col-lg-offset-3">
                    <p>Manuel Petroni<br />+39 389-9649683</p>
                    <p>manuel.webdevelopment@gmail.com</p>
                    <p>
                    <p><a style="cursor: pointer;" id="link-home" data-toggle="modal" data-target="#form_mail"><img src="~/img/send.png" alt="contatta" data-toggle="tooltip" title="Scrivi" data-placement="bottom" /></a></p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal form email-->

<div class="modal fade" id="form_mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel" style="font-family: 'Rock Salt', cursive;">Web-Solutions</h2>
                <p><b>manuel.webdeveloper@gmail.com</b> <br /> <b>Tel. 389-9649683</b></p>
            </div>
            <div class="modal-body">

                <form id="mail_sender_form" method="post">
                    <input type="hidden" name="from" value="mailsender.websolution@gmail.com" />
                    <input type="hidden" name="to" value="manuel.webdevelopment@gmail.com" />

                    <label>Il tuo indirizzo E-Mail</label><br />
                    <input type="email" name="mittente" value="" required class="txt-style" /><br />

                    <label>Oggetto</label><br />
                    <input type="text" name="subject" value="" required class="txt-style" /><br />

                    <label>Messaggio</label><br />
                    <textarea id="txt_messaggio" name="messaggio" rows="5" cols="30" class="txt-style"></textarea><br />
                    <br />
                    <button type="submit" id="send_email" class="btn btn-success"> <img src="~/img/send (1).png" data-toggle="tooltip" title="Invia!" data-placement="right" alt="invia" /></button>
                </form>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="text-align:left">
                        <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                        <a id="chiama" href="callto:manuel.petroni93@hotmail.com"><i id="icon-chiama" class="fa fa-skype fa-2x"></i></a>
                        <a id="wa-contact" href="" rel="alternate"><i class="fa fa-whatsapp fa-2x"></i></a>
                    </div>
                    <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</div>