
/*----------------- col-xs ---------------------*/
@media (max-width: 767px){
    #headerwrap h1{
        font-size: 45px;
    }

    .carousel-indicators li{
        width: 15px;
        height: 15px;
        margin: 2px;
    }

     .carousel-indicators .active{
         width: 17px;
         height: 17px;
     }
}
/*--------------- fine col-xs ------------------*/
